@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font: inherit;
  font-family: "Poppins";
  color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

@media screen and (max-height: 665px) {
  .menu {
    justify-content: space-evenly;
  }
  .menu .menu__navbar > li > a {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .about > article {
    flex-direction: column;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url("../assets/HOME - ABOUT ME.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  height: 100vh;
}

aside {
  width: 35%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu__title {
  padding-left: 40px;
  margin: 0;
  font: normal 600 30px/normal "Poppins";
}
.menu__navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__navbar > li {
  display: flex;
  align-items: center;
  list-style: none;
  width: 320px;
}
.menu__navbar > li > a {
  width: 300px;
  text-decoration: none;
  color: white;
  font: normal 500 18px/normal "Poppins";
  padding: 30px 60px;
}
.menu__credits {
  max-width: 31ch;
  font: italic 500 14px/normal "Poppins";
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}
.menu__credits > p {
  margin: 0;
}
.menu__credits div {
  display: flex;
  flex-direction: row;
}
.menu__credits div p {
  margin: 0px 5px 0px 5px;
  font-style: normal;
}
.menu__credits div img {
  width: 20px;
}

.active {
  border-radius: 0px 40px 40px 0px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  text-align: center;
  transition: all ease 0.3s;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 40px 60px 40px;
}
.about__image {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: url("../assets/profile_pic.jpeg"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.about__name {
  font: normal 500 26px/normal "Poppins";
  margin: 24px 0 0 0;
}
.about__subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
.about > article {
  display: flex;
  gap: 80px;
}
.about > article > div > h3 {
  font: normal 500 22px/normal "Poppins";
  margin-bottom: 20px;
}
.about > article > div > p {
  font: normal 400 18px/normal "Poppins";
  line-height: 27px;
  margin: 0;
}
.about > article > div > p > span {
  display: block;
  margin-bottom: 10px;
}

.skills {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skills .skills__hard-soft-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.skills .hard-skills h2 {
  font: normal 500 26px/normal "Poppins";
  padding-bottom: 15px;
}
.skills .hard-skills .hard-skills__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.skills .hard-skills .hard-skills__container .color_theory {
  grid-area: 1/1/2/2;
}
.skills .hard-skills .hard-skills__container .figma {
  grid-area: 1/2/2/3;
}
.skills .hard-skills .hard-skills__container .adobe_cc {
  grid-area: 1/3/2/4;
}
.skills .hard-skills .hard-skills__container .graphic_design {
  grid-area: 2/1/3/2;
}
.skills .hard-skills .hard-skills__container .typography {
  grid-area: 2/2/3/3;
}
.skills .hard-skills .hard-skills__container .ux_ui {
  grid-area: 2/3/3/4;
}
.skills .hard-skills .hard-skills__container .hard-skill {
  width: 160px;
  align-items: center;
  background: linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 199px;
  justify-content: center;
  overflow: hidden;
  padding: 20px 45px;
  width: 160px;
}
.skills .hard-skills .hard-skills__container .hard-skill h4 {
  text-align: center;
  font: normal 500 18px/normal "Poppins";
}
.skills .soft-skills h2 {
  font: normal 500 26px/normal "Poppins";
  padding-bottom: 15px;
}
.skills .soft-skills .soft-skills__list {
  list-style-image: url("../assets/gem_icon.png");
  border-radius: 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  padding: 30px 50px 15px 50px;
}
.skills .soft-skills .soft-skills__list li {
  padding: 0px 0px 15px 5px;
  font: normal 500 18px/normal "Poppins";
}
.skills .studies h2 {
  font: normal 500 26px/normal "Poppins";
  padding-bottom: 15px;
}
.skills .studies .studies__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skills .studies .studies-details {
  width: 45%;
}
.skills .studies .studies-details .studies-details__list {
  list-style-image: url("../assets/gem_icon.png");
  border-radius: 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  padding: 40px 50px 5px 50px;
}
.skills .studies .studies-details .studies-details__list li {
  padding: 0px 0px 25px 5px;
}
.skills .studies .studies-details .studies-details__list li h4 {
  font: normal 500 18px/normal "Poppins";
}
.skills .studies .studies-details .studies-details__list li h5 {
  font: italic 500 14px/normal "Poppins";
}
.skills .studies .idioms {
  width: 70%;
}
.skills .studies .idioms .idioms__list {
  list-style-image: url("../assets/gem_icon.png");
  border-radius: 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  padding: 30px 50px 15px 50px;
}
.skills .studies .idioms .idioms__list li {
  padding: 0px 0px 15px 5px;
}
.skills .studies .idioms .idioms__list li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .studies .idioms .idioms__list li > div h4 {
  font: normal 500 18px/normal "Poppins";
}
.skills .studies .idioms .idioms__list li > div h5 {
  font: italic 500 14px/normal "Poppins";
}
.skills .studies .idioms .idioms__list li > div .idioms__list--progress-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.skills .studies .idioms .idioms__list li > div .idioms__list--progress-container .idioms__list--score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.skills .studies .idioms .idioms__list li > div .idioms__list--progress-container .idioms__list--score span {
  font-size: 18px;
}
.skills .studies .idioms .idioms__list li > div .idioms__list--progress-container .idioms__list--progress-bar {
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
}

.projects {
  padding: 40px 40px 18px 40px;
}
.projects .project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 22px;
}
.projects .project h2 {
  font: normal 500 26px/normal "Poppins";
}
.projects .project p {
  font: normal 400 18px/normal "Poppins";
  margin-bottom: 8px;
}
.projects .project .project-card .project-card__header {
  border-radius: 36px 36px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
}
.projects .project .project-card .project-card__header p {
  font: normal 400 18px/normal "Poppins";
}
.projects .project .project-card .project-card__header h5 {
  font: italic 500 14px/normal "Poppins";
}
.projects .project .project-card .project-card__header :first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}
.projects .project .project-card .project-card__header :nth-child(2) {
  display: flex;
  gap: 8px;
}
.projects .project .project-card .project-card__images-container {
  display: flex;
}
.projects .project .project-card .project-card__images-container :first-child img {
  border-radius: 0px 0px 0px 36px;
}
.projects .project .project-card .project-card__images-container :last-child img {
  border-radius: 0px 0px 36px 0px;
}

.contact {
  display: flex;
  width: 100%;
  padding: 100px 220px 100px 220px;
  justify-content: center;
  align-items: center;
}
.contact .contact__container {
  min-width: 520px;
}
.contact .contact__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 36px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  padding: 30px;
}
.contact .contact__container form input {
  border-radius: 20px;
  border: 1px solid var(--Light, #EDE4EB);
  background: none;
}
.contact .contact__container form input:focus-visible {
  outline: none;
}
.contact .contact__container form textarea {
  border-radius: 20px;
  border: 1px solid var(--Light, #EDE4EB);
  background: none;
}
.contact .contact__container form textarea::placeholder {
  color: white;
}
.contact .contact__container form textarea:focus-visible {
  outline: none;
}
.contact .contact__container form select {
  border-radius: 20px;
  border: 1px solid var(--Light, #EDE4EB);
  background: none;
}
.contact .contact__container form select option {
  background-color: #A100B3;
}
.contact .contact__container form :nth-child(5) {
  align-self: center;
}
.contact .contact__container form button {
  padding: 10px 60px;
  border-radius: 40px;
  background: var(--Dark-purple, #A100B3);
}
.contact .contact__container form .form__error-message {
  font: normal 400 10px/normal "Poppins";
  color: #FFB9B9;
  padding-left: 10px;
  padding-top: 10px;
}
.contact .contact__container form .result {
  align-self: center;
  padding-top: 10px;
  font: normal 500 18px/normal "Poppins";
}
.contact .contact__container form .good-result h4 {
  color: greenyellow;
}
.contact .contact__container form .bad-result h4 {
  color: #FFB9B9;
}

/*# sourceMappingURL=style.css.map */
