@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font: inherit;
  font-family: "Poppins";
  color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

body {
  background-image: url("../assets/HOME - ABOUT ME.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.responsive-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0px 30px;
}
.responsive-nav svg {
  width: 30px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  height: 100dvh;
  overflow: hidden;
}

aside {
  width: 35%;
  height: 100dvh;
}

main {
  width: 100%;
  height: 100dvh;
  overflow: hidden auto;
}

.hidden {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  border-radius: 0px 40px 40px 0px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  text-align: center;
  transition: all ease-in 0.15s;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  gap: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu__responsive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-right: 20px;
}
.menu__responsive button svg {
  width: 30px;
}
.menu__title {
  padding-left: 40px;
  margin: 0;
  white-space: pre-line;
}
.menu__navbar {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 10px;
}
.menu__navbar--opacity {
  opacity: 1 !important;
}
.menu__navbar > li {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  gap: 0;
  list-style: none;
  width: 320px;
}
.menu__navbar > li > a {
  width: 300px;
  color: white;
  padding: 25px 55px;
}
.menu__credits {
  max-width: 31ch;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}
.menu__credits > p {
  margin: 0;
}
.menu__credits div {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  gap: 0;
}
.menu__credits div p {
  margin: 0px 5px 0px 5px;
  font-style: normal;
}
.menu__credits div img {
  width: 20px;
}
.menu .larger-text {
  max-width: 35ch;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 40px 40px 60px 40px;
}
.about > div {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: 0;
  margin-bottom: 30px;
}
.about > div .about__image {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: url("../assets/profile_pic.jpeg"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.about > div :last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.about > div :last-child .about__name {
  margin: 24px 0 0 0;
}
.about > div :last-child .about__subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
.about > article {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  gap: 80px;
}
.about > article > div > h3 {
  margin-bottom: 20px;
}
.about > article > div > p {
  line-height: 27px;
  margin: 0;
}
.about > article > div > p > span {
  display: block;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 20px;
  padding: 40px;
}
.skills .skills__hard-soft-container {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  gap: 20px;
}
.skills .hard-skills h2 {
  padding-bottom: 15px;
}
.skills .hard-skills .hard-skills__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.skills .hard-skills .hard-skills__container .color_theory {
  grid-area: 1/1/2/2;
}
.skills .hard-skills .hard-skills__container .figma {
  grid-area: 1/2/2/3;
}
.skills .hard-skills .hard-skills__container .adobe_cc {
  grid-area: 1/3/2/4;
}
.skills .hard-skills .hard-skills__container .graphic_design {
  grid-area: 2/1/3/2;
}
.skills .hard-skills .hard-skills__container .typography {
  grid-area: 2/2/3/3;
}
.skills .hard-skills .hard-skills__container .ux_ui {
  grid-area: 2/3/3/4;
}
.skills .hard-skills .hard-skills__container .hard-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 160px;
  height: 199px;
  background: linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 34px;
  overflow: hidden;
}
.skills .hard-skills .hard-skills__container .hard-skill h4 {
  text-align: center;
}
.skills .soft-skills {
  width: 100%;
}
.skills .soft-skills h2 {
  padding-bottom: 15px;
}
.skills .soft-skills .soft-skills__list {
  list-style-image: url("../assets/gem_icon.png");
  border-radius: 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  padding: 30px 50px 15px 50px;
}
.skills .soft-skills .soft-skills__list li {
  padding: 0px 0px 15px 5px;
}
.skills .studies h2 {
  padding-bottom: 15px;
}
.skills .studies .studies__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skills .studies .studies-details {
  width: 45%;
}
.skills .studies .studies-details .studies-details__list {
  list-style-image: url("../assets/gem_icon.png");
  border-radius: 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  padding: 40px 50px 5px 50px;
}
.skills .studies .studies-details .studies-details__list li {
  padding: 0px 0px 25px 5px;
}
.skills .studies .studies-details .studies-details__list li h5 {
  white-space: pre-line;
}
.skills .studies .idioms {
  width: 70%;
}
.skills .studies .idioms .idioms__list {
  list-style-image: url("../assets/gem_icon.png");
  border-radius: 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  padding: 30px 50px 15px 50px;
}
.skills .studies .idioms .idioms__list li {
  padding: 0px 0px 15px 5px;
}
.skills .studies .idioms .idioms__list li > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.skills .studies .idioms .idioms__list li > div .idioms__list--progress-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.skills .studies .idioms .idioms__list li > div .idioms__list--progress-container .idioms__list--score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.skills .studies .idioms .idioms__list li > div .idioms__list--progress-container .idioms__list--score span {
  font-size: 18px;
}
.skills .studies .idioms .idioms__list li > div .idioms__list--progress-container .idioms__list--progress-bar {
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
}

.projects {
  padding: 40px 40px 18px 40px;
}
.projects .project {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 10px;
  margin-bottom: 36px;
}
.projects .project p {
  margin-bottom: 8px;
}
.projects .project .project-card .project-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border-radius: 36px 36px 0px 0px;
  padding: 17px 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
}
.projects .project .project-card .project-card__header div > img {
  width: 26px;
}
.projects .project .project-card .project-card__header p {
  margin: 0;
}
.projects .project .project-card .project-card__header :first-child {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  gap: 12px;
}
.projects .project .project-card .project-card__header :nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  gap: 8px;
}
.projects .project .project-card .project-card__images-container {
  display: flex;
}
.projects .project .project-card .project-card__images-container figure > img {
  aspect-ratio: 16/9;
}
.projects .project .project-card .project-card__images-container :first-child img {
  border-radius: 0px 0px 0px 36px;
}
.projects .project .project-card .project-card__images-container :last-child img {
  border-radius: 0px 0px 36px 0px;
}

.services {
  padding: 40px;
}
.services h2 {
  margin-bottom: 30px;
}
.services__card {
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-rows: 1fr;
  column-gap: 50px;
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 36px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
}
.services__card button {
  width: 50px;
}
.services__card button .div1 {
  grid-area: 1/1/2/2;
}
.services__card button svg {
  width: 50px;
  height: 50px;
}
.services__card--content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  gap: 30px;
  width: 100%;
}
.services__card--content-container .div1 {
  grid-area: 1/1/2/2;
}
.services__card--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.services__card--header h2 {
  font: normal 600 30px/normal "Poppins";
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
}
.services__card--header h3 {
  text-align: center;
  width: fit-content;
}
.services__card--content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.services__card--content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-start;
  gap: 30px;
}
.services__card--content ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
.services__card--disclaimer p {
  font-size: 10px;
  text-align: center;
  font-style: italic;
}
.services__card--navigation-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.services__card--navigation-dots span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 1px solid white;
  cursor: pointer;
}
.services__card--navigation-dots .active {
  background-color: white;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  padding: 25px 0 25px 0;
}
.contact .contact__container {
  min-width: 600px;
}
.contact .contact__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  gap: 0;
  border-radius: 36px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%));
  padding: 30px;
}
.contact .contact__container form label {
  font: normal 500 18px/normal "Poppins";
}
.contact .contact__container form input {
  font: normal 400 18px/normal "Poppins";
  border-radius: 20px;
  border: 1px solid var(--Light, #EDE4EB);
  background: none;
}
.contact .contact__container form input:focus-visible {
  outline: none;
}
.contact .contact__container form textarea {
  border-radius: 20px;
  border: 1px solid var(--Light, #EDE4EB);
  background: none;
}
.contact .contact__container form textarea::placeholder {
  color: white;
}
.contact .contact__container form textarea:focus-visible {
  outline: none;
}
.contact .contact__container form select {
  border-radius: 20px;
  border: 1px solid var(--Light, #EDE4EB);
  background: none;
  font: normal 400 18px/normal "Poppins";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../assets/Keyboard_arrow_down.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px 32px;
}
.contact .contact__container form select option {
  background-color: #A100B3;
}
.contact .contact__container form textarea::placeholder {
  font: normal 400 18px/normal "Poppins";
}
.contact .contact__container form :nth-child(5) {
  align-self: center;
}
.contact .contact__container form button {
  padding: 10px 60px;
  border-radius: 40px;
  background: var(--Dark-purple, #A100B3);
}
.contact .contact__container form .form__error-message {
  color: #FFB9B9;
  padding-left: 10px;
  padding-top: 10px;
}
.contact .contact__container form .result {
  align-self: center;
  padding-top: 10px;
}
.contact .contact__container form .good-result h4 {
  color: greenyellow;
}
.contact .contact__container form .bad-result h4 {
  color: #FFB9B9;
}

h1 {
  font: normal 600 30px/normal "Poppins";
}

h2 {
  font: normal 500 26px/normal "Poppins";
}

h3 {
  font: normal 500 22px/normal "Poppins";
}

h4 {
  font: normal 500 18px/normal "Poppins";
}

h5 {
  font: italic 400 14px/normal "Poppins";
}

h6 {
  font: normal 400 10px/normal "Poppins";
}

p {
  font: normal 400 18px/normal "Poppins";
}

.menu__navbar > li > a {
  font: normal 500 18px/normal "Poppins";
}

@media screen and (max-height: 665px) {
  .menu {
    justify-content: space-evenly;
  }
  .menu__navbar > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu__credits {
    padding: 15px 30px;
    gap: 0;
  }
  .contact {
    height: auto;
  }
}
@media screen and (max-width: 1271px) {
  .skills {
    padding: 30px;
  }
  .skills .skills__hard-soft-container {
    flex-direction: column;
  }
  .skills .skills__hard-soft-container .hard-skills {
    width: 90%;
  }
  .skills .skills__hard-soft-container .hard-skills .hard-skill {
    width: 100%;
  }
  .skills .skills__hard-soft-container .soft-skills {
    width: 90%;
  }
  .skills .studies h2 {
    padding-left: 33px;
  }
  .skills .studies .studies__container {
    flex-direction: column;
    width: 100%;
  }
  .skills .studies .studies__container .studies-details {
    width: 90%;
  }
  .skills .studies .studies__container .idioms {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .about > article {
    flex-direction: column;
    gap: 40px;
  }
  .skills {
    padding: 40px 20px;
  }
  .skills .skills__hard-soft-container .hard-skills {
    width: 100%;
  }
  .skills .skills__hard-soft-container .hard-skills .hard-skill {
    width: 100%;
  }
  .skills .skills__hard-soft-container .hard-skills .hard-skill h4 {
    padding: 0px 10px 0px 10px;
  }
  .skills .skills__hard-soft-container .soft-skills {
    width: 100%;
  }
  .skills .studies h2 {
    padding-left: 0;
  }
  .skills .studies .studies__container .studies-details {
    width: 100%;
  }
  .skills .studies .studies__container .idioms {
    width: 100%;
  }
  .menu__title {
    padding-left: 30px;
  }
  .menu__navbar li a {
    width: 85%;
    padding: 20px 40px;
  }
  .menu__credits {
    padding: 15px 30px;
  }
  .contact > .contact__container {
    min-width: 0;
    width: 90%;
  }
  .services__card {
    grid-template-columns: 1fr;
  }
  .services__card > button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font: normal 600 24px/normal "Poppins";
  }
  h2 {
    font: normal 500 20px/normal "Poppins";
  }
  h3 {
    font: normal 500 16px/normal "Poppins";
  }
  h4 {
    font: normal 500 14px/normal "Poppins";
  }
  h5 {
    font: italic 500 12px/normal "Poppins";
  }
  h6 {
    font: normal 400 12px/normal "Poppins";
  }
  p {
    font: normal 400 14px/normal "Poppins";
  }
  .responsive-nav {
    padding: 26px 20px;
  }
  .active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration: underline 2px;
    -webkit-text-decoration: underline 2px;
    text-underline-offset: 8px;
    -webkit-text-underline-offset: 8px;
    border-radius: 0;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    text-align: start;
  }
  aside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  aside .menu {
    padding-top: 26px;
    display: flex;
    flex-direction: column;
  }
  aside .menu .menu__title {
    white-space: normal;
    padding-left: 20px;
  }
  aside .menu .menu__navbar {
    margin-bottom: auto;
  }
  aside .menu .menu__navbar > li > a {
    font: normal 500 20px/normal "Poppins";
    padding: 20px 20px;
  }
  aside .menu .menu__credits {
    padding: 0 20px;
    max-width: 25ch;
  }
  main {
    width: 100%;
  }
  .about {
    padding: 10px 20px 40px 20px;
  }
  .about > div {
    align-self: flex-start;
    flex-direction: row;
    gap: 20px;
  }
  .about > div .about__image {
    width: 117px;
    height: 117px;
  }
  .about > div :last-child .about__name {
    align-self: flex-start;
    margin: 0;
  }
  .about > div :last-child .about__subtitle {
    align-self: flex-start;
    margin: 0;
  }
  .skills {
    gap: 40px;
    padding: 10px 19px 40px 19px;
  }
  .skills .skills__hard-soft-container {
    gap: 40px;
  }
  .skills .skills__hard-soft-container .hard-skills .hard-skill {
    height: 150px;
  }
  .skills .skills__hard-soft-container .hard-skills .hard-skill img {
    width: 60px;
  }
  .skills .skills__hard-soft-container .hard-skills .hard-skill h4 {
    font: normal 500 14px/normal "Poppins";
  }
  .skills .studies .studies__container {
    gap: 14px;
  }
  .skills .studies .studies__container .idioms .idioms__list {
    padding: 32px 20px 32px 45px;
  }
  .skills .studies .studies__container .idioms .idioms__list :last-child {
    padding-bottom: 0;
  }
  .skills .studies .studies__container .idioms .idioms__list li > div .idioms__list--progress-container {
    width: 145px;
    gap: 20px;
  }
  .skills .studies .studies__container .idioms .idioms__list li > div .idioms__list--progress-container .idioms__list--progress-bar {
    height: 5px;
  }
  .skills .studies .studies__container .idioms .idioms__list li > div .idioms__list--progress-container > div > div {
    height: 5px;
  }
  .skills .studies .studies__container .idioms .idioms__list li > div .idioms__list--progress-container .idioms__list--score span {
    font-size: 14px;
  }
  .skills .studies .studies__container .idioms .idioms__list li > div > div h4 {
    font: normal 500 14px/normal "Poppins";
  }
  .skills .studies .studies__container .idioms .idioms__list li > div > div h5 {
    font: italic 500 12px/normal "Poppins";
  }
  .skills .studies h2 {
    padding-left: 0;
  }
  .projects {
    padding: 10px 20px 40px 20px;
  }
  .projects .project {
    margin-bottom: 30px;
    gap: 4px;
  }
  .projects .project p {
    margin-bottom: 16px;
  }
  .projects .project .project-card .project-card__header {
    border-radius: 25px 25px 0px 0px;
    padding: 17px 30px;
  }
  .projects .project .project-card .project-card__header :first-child > img {
    width: 20px;
  }
  .projects .project .project-card .project-card__images-container figure > img {
    aspect-ratio: 5/4;
    object-fit: cover;
  }
  .projects .project .project-card .project-card__images-container :nth-child(3) > img {
    border-radius: 0px 0px 25px 0px;
  }
  .projects .project .project-card .project-card__images-container :nth-child(1) > img {
    border-radius: 0px 0px 0px 25px;
  }
  .projects :last-child {
    margin-bottom: 0;
  }
  .contact .contact__container {
    min-width: 0;
    width: 90%;
  }
  .contact .contact__container form div label {
    font: normal 500 14px/normal "Poppins";
  }
  .contact .contact__container form div input {
    font: normal 400 14px/normal "Poppins";
  }
  .contact .contact__container form div select {
    font: normal 400 14px/normal "Poppins";
    padding: 12px 16px;
  }
  .contact .contact__container form div textarea::placeholder {
    font: normal 400 14px/normal "Poppins";
  }
}

/*# sourceMappingURL=style.css.map */
