@mixin flex-row($justify, $align, $gap) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin skill-card-list-style {
  list-style-image: url('../assets/gem_icon.png');
  border-radius: 34px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
}