//TIPOGRAPHY
$h1: normal 600 30px/normal "Poppins";
$h2: normal 500 26px/normal "Poppins";
$h3: normal 500 22px/normal "Poppins";
$h3_2: normal 400 22px/normal "Poppins";
$h4: normal 500 18px/normal "Poppins";
$p: normal 400 18px/normal "Poppins";
$h5: italic 500 14px/normal "Poppins";
$h6: normal 400 10px/normal "Poppins";

// COLORS
$black: #2F243A;
$dark_purple: #A100B3;
$gray: #ACA0AE;
$white: #EDE4EB;
$red: #FFB9B9;