@use 'reset';
@use 'variables';
@use 'mixins';
@use 'general';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// MENU STYLES
.active {
  border-radius: 0px 40px 40px 0px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(20px);
  text-align: center;
  transition: all ease-in 0.15s;
}

.menu {
  width: 100%;
  height: 100%;
  @include mixins.flex-column($justify: space-between, $gap: 0);
  padding-top: 20px;
  padding-bottom: 20px;
  &__responsive {
    @include mixins.flex-row(space-between, center);
    padding-right: 20px;
    button {
      svg {
        width: 30px;
      }
    }
  }
  &__title {
    padding-left: 40px;
    margin: 0;
    white-space: pre-line;
  }
  &__navbar {
    @include mixins.flex-column($gap: 10px);
    &--opacity {
      opacity: 1 !important;
    }
  }
  &__navbar > li {
    @include mixins.flex-row($align: center);
    list-style: none;
    width: 320px;
  }
  &__navbar > li > a {
    width: 300px;
    color: white;
    padding: 25px 55px;
  }
  &__credits {
    max-width: 31ch;
    padding: 0px 40px;
    @include mixins.flex-column(flex-end, flex-start, 16px);
    flex-shrink: 0;
    > p {
      margin: 0;
    }
    div {
      @include mixins.flex-row;
      p {
        margin: 0px 5px 0px 5px;
        font-style: normal;
      }
      img {
        width: 20px;
      }
    }
  }
  .larger-text {
    max-width: 35ch;
  }
}

//ABOUT STYLES
.about {
  @include mixins.flex-column(flex-start, center);
  padding: 40px 40px 60px 40px;
  > div {
    @include mixins.flex-column($align: center);
    margin-bottom: 30px;
    .about__image {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      background: url('../assets/profile_pic.jpeg'), lightgray 50% ;
      background-size: cover;
      background-repeat: no-repeat;
    }
    & :last-child {
      @include mixins.flex-column(center, center);
      .about__name {
        margin: 24px 0 0 0;
      }
      .about__subtitle {
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
  }
  > article {
    display: flex;
    flex-direction: row;
    @include mixins.flex-row($gap: 80px);
    > div {
      > h3 {
        margin-bottom: 20px;
      }
      > p {
        
        line-height: 27px;
        margin: 0;
        > span {
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// SKILLS
.skills {
  @include mixins.flex-column($gap: 20px);
  padding: 40px;
  .skills__hard-soft-container {
    @include mixins.flex-row($align: center, $gap: 20px);
  }
  .hard-skills { 
    h2 {
      padding-bottom: 15px;
    }
    .hard-skills__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      .color_theory { grid-area: 1 / 1 / 2 / 2; }
      .figma { grid-area: 1 / 2 / 2 / 3; }
      .adobe_cc { grid-area: 1 / 3 / 2 / 4; }
      .graphic_design { grid-area: 2 / 1 / 3 / 2; }
      .typography { grid-area: 2 / 2 / 3 / 3; }
      .ux_ui { grid-area: 2 / 3 / 3 / 4; }
      .hard-skill {
        @include mixins.flex-column(center, center, 12px);
        width: 160px;
        height: 199px;
        background: linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 34px;
        overflow: hidden;
        h4 {
          text-align: center;
        }
      }
    }  
  }
  .soft-skills {
    width: 100%;
    h2 {
      padding-bottom: 15px;
    }
    .soft-skills__list {
      @include mixins.skill-card-list-style;
      padding: 30px 50px 15px 50px;
      li {
        padding: 0px 0px 15px 5px;
      }
    }
  }
  .studies {
    h2 {
      padding-bottom: 15px;
    }
    .studies__container {
      @include mixins.flex-row(center, center, 20px)
    }
    .studies-details {
      width: 45%;
      .studies-details__list {
        @include mixins.skill-card-list-style;
        padding: 40px 50px 5px 50px;
        li {
          padding: 0px 0px 25px 5px;
          h5 {
            white-space: pre-line;
          }
        }
      }
    }
    .idioms {
      width: 70%;
      .idioms__list {
        @include mixins.skill-card-list-style;
        padding: 30px 50px 15px 50px;
        li {
          padding: 0px 0px 15px 5px;
          > div {
            @include mixins.flex-row(space-between, center);
            .idioms__list--progress-container {
              width: 70%;
              @include mixins.flex-row(space-between, center, 35px);
              .idioms__list--score {
                @include mixins.flex-row(center, center, 5px);
                span {
                  font-size: 18px;
                }
              }
              .idioms__list--progress-bar {
                background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
              }
            }
          }
        }
      }
    }
  }
}

// PROJECT
.projects {
  padding: 40px 40px 18px 40px;
  &__nav {
    @include mixins.flex-row($justify: flex-end, $gap: 20px);
    margin-bottom: 20px;
    button {
      @include mixins.flex-row($justify: center, $align: center , $gap: 10px);
    }
  }
  .project {
    @include mixins.flex-column($gap: 10px);
    margin-bottom: 36px;
    p {
      margin: 0;
    }
    &__content {
      .truncated {
        max-height: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Número de líneas que quieres mostrar */
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      &--truncator {
        font-size: 14px;
        cursor: pointer;
        border-bottom: 1px solid white;
      }
    }

    .project-card {
      &__images-container {
        img {
          border-radius: 0px 0px 36px 36px;
        }
      }
      .project-card__header {
        @include mixins.flex-row(space-between, center);
        border-radius: 36px 36px 0px 0px;
        padding: 17px 34px;
        background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
        div > img {
          width: 26px;
        }
        p { 
          margin: 0;
        }
        & :first-child {
          @include mixins.flex-row($align: center, $gap: 12px)
        }
        & :nth-child(2) {
          @include mixins.flex-row($gap: 8px)
        }
      }
    }
    &__behance-button {
      margin-top: 10px;
      padding: 14px 0 14px 0;
      @include mixins.flex-row($justify: center, $align: center, $gap: 10px);
      border-radius: 40px;
      background: var(--Dark-purple, #A100B3);
    }
  }
}

// SERVICES
.services {
  padding: 40px;
  h2 {
    margin-bottom: 30px;
  }
  &__card {
    display: grid;
    grid-template-columns: .5fr 4fr .5fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
    padding: 30px 40px 40px 40px;
    margin-bottom: 50px;
    border-radius: 36px;
    background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
    button {
      width: 50px;
      .div1 { grid-area: 1 / 1 / 2 / 2; }
      svg {
        width: 50px;
        height: 50px;
      }
    }
    &--content-container {
      @include mixins.flex-column(center, initial, 30px);
      width: 100%;
      .div1 { grid-area: 1 / 1 / 2 / 2; }
    }
    &--header {
      @include mixins.flex-column(center, center, 0);
      h2 {
        font: variables.$h1;
        font-style: italic;
        text-align: center;
        margin-bottom: 0;
      }
      h3 {
        text-align: center;
        width: fit-content
      }
    }
    &--content {
      @include mixins.flex-row(center, center, 0);
      ul {
        width: 100%;
        @include mixins.flex-column($align: flex-start, $gap: 30px);
        li {
          width: 100%;
          @include mixins.flex-row(flex-start, flex-start);
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-template-rows: 1fr;
        }
      }
    }
    &--disclaimer {
      p {
        font-size: 10px;
        text-align: center;
        font-style: italic;
      }
    }
    &--navigation-dots {
      @include mixins.flex-row(center, center, 8px);
      span {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border: 1px solid white;
        cursor: pointer;
      }
      .active {
        background-color: white;
      }
    }
  }
}

// Contact Form
.contact {
  @include mixins.flex-row(center, center);
  width: 100%;
  padding: 25px 0 25px 0;
  .contact__container {
    min-width: 600px;
    form {
      @include mixins.flex-column(center);
      border-radius: 36px;
      background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
      padding: 30px;
      label {
        font: variables.$h4;
      }
      input {
        font: variables.$p;
        border-radius: 20px;
        border: 1px solid var(--Light, variables.$white);
        background: none;
        &:focus-visible {
          outline: none;
        }
      }
      textarea {
        border-radius: 20px;
        border: 1px solid var(--Light, variables.$white);
        background: none;
        &::placeholder {
          color: white;
        }
        &:focus-visible {
          outline: none;
        }
      }
      select {
        border-radius: 20px;
        border: 1px solid var(--Light, variables.$white);
        background: none;
        font: variables.$p;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('../assets/Keyboard_arrow_down.svg');
        background-repeat: no-repeat;
        background-position: right .75rem center;
        background-size: 20px 32px;
        option {
          background-color: variables.$dark_purple;
        }
      }
      textarea::placeholder {
        font: variables.$p;
      }
      & :nth-child(5) {
        align-self: center;
      }
      button {
        padding: 10px 60px;
        border-radius: 40px;
        background: var(--Dark-purple, variables.$dark_purple);
      }
      .form__error-message {
        color: variables.$red;
        padding-left: 10px;
        padding-top: 10px;
      }
      .result {
        align-self: center;
        padding-top: 10px;
      }
      .good-result h4 {
        color: greenyellow;
      }
      .bad-result h4 {
        color: variables.$red;
      }
    }
  }
}

// Setting all the fonts
$fonts: variables.$h1, variables.$h2, variables.$h3, variables.$h4, variables.$h5, variables.$h6;

@for $i from 1 through 6 {
  h#{$i} {
    font: nth($fonts, $i)
  }
}

p {
  font: variables.$p
}

.menu__navbar > li > a {
  font: variables.$h4
}

// Media Queries
@import 'media';