@use 'reset';
@use 'variables';
@use 'mixins';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// BACKGROUND
body {
  background-image: url('../assets/HOME\ -\ ABOUT\ ME.png');
  background-size: cover;
  background-repeat: no-repeat;
}

// GENERAL PURPOSE
.responsive-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0px 30px;
  svg {
    width: 30px;
  }
}

.mainContainer {
  @include mixins.flex-row(space-between, flex-start, 0);
  height: 100dvh;
  overflow: hidden;
}

aside {
  width: 35%;
  height: 100dvh;
}

main {
  width: 100%;
  height: 100dvh;
  overflow: hidden auto;
}

.hidden {
  display: none
}

// MENU STYLES
.active {
  border-radius: 0px 40px 40px 0px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(20px);
  text-align: center;
  transition: all ease-in 0.15s;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  &__responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    button {
      svg {
        width: 30px;
      }
    }
  }
  &__title {
    padding-left: 40px;
    margin: 0;
    white-space: pre-line;
  }
  &__navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--opacity {
      opacity: 1 !important;
    }
  }
  &__navbar > li {
    display: flex;
    align-items: center;
    list-style: none;
    width: 320px;
  }
  &__navbar > li > a {
    width: 300px;
    color: white;
    padding: 30px 60px;
  }
  &__credits {
    max-width: 31ch;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    > p {
      margin: 0;
    }
    div {
      display: flex;
      flex-direction: row;
      p {
        margin: 0px 5px 0px 5px;
        font-style: normal;
      }
      img {
        width: 20px;
      }
    }
  }
  .larger-text {
    max-width: 35ch;
  }
}

//ABOUT STYLES
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 40px 60px 40px;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    .about__image {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      background: url('../assets/profile_pic.jpeg'), lightgray 50% ;
      background-size: cover;
      background-repeat: no-repeat;
    }
    & :last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .about__name {
        margin: 24px 0 0 0;
      }
      .about__subtitle {
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
  }
  > article {
    display: flex;
    flex-direction: row;
    gap: 80px;
    > div {
      > h3 {
        margin-bottom: 20px;
      }
      > p {
        
        line-height: 27px;
        margin: 0;
        > span {
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// SKILLS
.skills {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .skills__hard-soft-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .hard-skills { 
    h2 {
      padding-bottom: 15px;
    }
    .hard-skills__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      .color_theory { grid-area: 1 / 1 / 2 / 2; }
      .figma { grid-area: 1 / 2 / 2 / 3; }
      .adobe_cc { grid-area: 1 / 3 / 2 / 4; }
      .graphic_design { grid-area: 2 / 1 / 3 / 2; }
      .typography { grid-area: 2 / 2 / 3 / 3; }
      .ux_ui { grid-area: 2 / 3 / 3 / 4; }
      .hard-skill {
        width: 160px;
        align-items: center;
        background: linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 34px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 199px;
        justify-content: center;
        overflow: hidden;
        width: 160px;
        h4 {
          text-align: center;
        }
      }
    }  
  }
  .soft-skills {
    width: 100%;
    h2 {
      padding-bottom: 15px;
    }
    .soft-skills__list {
      @include mixins.skill-card-list-style;
      padding: 30px 50px 15px 50px;
      li {
        padding: 0px 0px 15px 5px;
      }
    }
  }
  .studies {
    h2 {
      padding-bottom: 15px;
    }
    .studies__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .studies-details {
      width: 45%;
      .studies-details__list {
        @include mixins.skill-card-list-style;
        padding: 40px 50px 5px 50px;
        li {
          padding: 0px 0px 25px 5px;
          h5 {
            white-space: pre-line;
          }
        }
      }
    }
    .idioms {
      width: 70%;
      .idioms__list {
        @include mixins.skill-card-list-style;
        padding: 30px 50px 15px 50px;
        li {
          padding: 0px 0px 15px 5px;
          > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .idioms__list--progress-container {
              width: 70%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 35px;
              .idioms__list--score {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                span {
                  font-size: 18px;
                }
              }
              .idioms__list--progress-bar {
                background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
              }
            }
          }
        }
      }
    }
  }
}

// PROJECT
.projects {
  padding: 40px 40px 18px 40px;
  .project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 22px;
    p {
      margin-bottom: 8px;
    }
    .project-card {
      .project-card__header {
        border-radius: 36px 36px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 17px 34px;
        background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
        div > img {
          width: 26px;
        }
        p { 
          margin: 0;
        }
        & :first-child {
          display: flex;
          align-items: center;
          gap: 12px;
        }
        & :nth-child(2) {
          display: flex;
          gap: 8px;
        }
      }
      .project-card__images-container {
        display: flex;
        & :first-child {
          img {
            border-radius: 0px 0px 0px 36px;
          }
        }
        & :last-child {
          img {
            border-radius: 0px 0px 36px 0px;
          }
        }
      }
    }
  }
}

// Contact Form
.contact {
  display: flex;
  width: 100%;
  padding: 25px 0 25px 0;
  justify-content: center;
  align-items: center;
  .contact__container {
    min-width: 600px;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 36px;
      background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
      padding: 30px;
      label {
        font: variables.$h4;
      }
      input {
        font: variables.$p;
        border-radius: 20px;
        border: 1px solid var(--Light, variables.$white);
        background: none;
        &:focus-visible {
          outline: none;
        }
      }
      textarea {
        border-radius: 20px;
        border: 1px solid var(--Light, variables.$white);
        background: none;
        &::placeholder {
          color: white;
        }
        &:focus-visible {
          outline: none;
        }
      }
      select {
        border-radius: 20px;
        border: 1px solid var(--Light, variables.$white);
        background: none;
        font: variables.$p;
        option {
          background-color: variables.$dark_purple;
        }
      }
      textarea::placeholder {
        font: variables.$p;
      }
      & :nth-child(5) {
        align-self: center;
      }
      button {
        padding: 10px 60px;
        border-radius: 40px;
        background: var(--Dark-purple, variables.$dark_purple);
      }
      .form__error-message {
        color: variables.$red;
        padding-left: 10px;
        padding-top: 10px;
      }
      .result {
        align-self: center;
        padding-top: 10px;
      }
      .good-result h4 {
        color: greenyellow;
      }
      .bad-result h4 {
        color: variables.$red;
      }
    }
  }
}

$fonts: variables.$h1, variables.$h2, variables.$h3, variables.$h4, variables.$h5, variables.$h6;

@for $i from 1 through 6 {
  h#{$i} {
    font: nth($fonts, $i)
  }
}

p {
  font: variables.$p
}

.menu__navbar > li > a {
  font: variables.$h4
}

@import 'media';