@use 'reset';
@use 'variables';
@use 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-image: url('../assets/HOME\ -\ ABOUT\ ME.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer {
  @include mixins.flex-row(space-between, flex-start, 0);
  height: 100vh;
}

header {
  width: 35%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

// // MENU STYLES
.menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  &__title {
    padding-left: 40px;
    margin: 0;
    font: variables.$h1;
  }
  &__navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__navbar > li {
    display: flex;
    align-items: center;
    list-style: none;
    width: 320px;
  }
  &__navbar > li > a {
    width: 300px;
    text-decoration: none;
    color: white;
    font: variables.$h4;
    padding: 20px 60px;
  }
  &__credits {
    max-width: 31ch;
    font: variables.$h5;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    > p {
      margin: 0;
    }
    div {
      display: flex;
      flex-direction: row;
      p {
        margin: 0px 5px 0px 5px;
        font-style: normal;
      }
      img {
        width: 20px;
      }
    }
  }
}

.active {
  border-radius: 0px 40px 40px 0px;
  background: var(--Glass-effect, linear-gradient(97deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%));
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(20px);
  text-align: center;
  transition: all ease .30s;
}

//ABOUT STYLES
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 40px 60px 40px;
  &__image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: url('../assets/profile_pic.jpeg'), lightgray 50% ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__name {
    font: variables.$h2;
    margin: 24px 0 0 0;
  }
  &__subtitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
  }
  > article {
    display: flex;
    gap: 80px;
    > div {
      > h3 {
        font: variables.$h3;
        margin-bottom: 20px;
      }
      > p {
        font: variables.$p;
        line-height: 27px;
        margin: 0;
        > span {
          display: block;
          margin-bottom: 10px;
        }
      }
      > .about__p__large {
        width: 40ch;
      }
    }
  }
}

// SKILLS
.hard-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  .color_theory { grid-area: 1 / 1 / 2 / 2; }
  .figma { grid-area: 1 / 2 / 2 / 3; }
  .adobe_cc { grid-area: 1 / 3 / 2 / 4; }
  .graphic_design { grid-area: 2 / 1 / 3 / 2; }
  .typography { grid-area: 2 / 2 / 3 / 3; }
  .ux_ui { grid-area: 2 / 3 / 3 / 4; }
  .hard-skill {
    align-items: center;
    background: linear-gradient(97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 199px;
    justify-content: center;
    overflow: hidden;
    padding: 20px 45px;
    position: relative;
    width: 160px;
  }
}